<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>  
    <body>
        Welcome <%= user.username %>
        <a href="/logout">Logout</a>
        <div class="todo-box">
            <h2>To-Do List</h2>
            <div class="todo-content">
                <form action="/" method="post" class="todo-input">
                    <input type="text" name="task">
                    <button type="submit"><span class="fas fa-plus"></span></button>
                </form>
                <p class="error"><%=error%></p>
                <p class="success"><%=success%></p>
                <div class="sort">
                    <% if(sorted == 1) { %>
                    <a href="/?page=<%=page%>&sorted=-1">Oldest first <span class="fas fa-arrow-up"></span></a>
                    <% } else if (sorted == -1) { %></page>
                    <a href="/?page=<%=page%>&sorted=1">Newest first <span class="fas fa-arrow-down"></span></a>
                    <% } %>
                </div>
                <div class="list">
                    <% if(!items || items.length === 0) { %>
                        <P class="no-item">No items to show</P>
                    <% } else { %>                                            
                    <%- include('todo-item.ejs') %>  
                    <% } %>
                </div>
            </div>

            <div class="show">
                <% if( !reachedMaxItems ) { %>
                    <a href="/?page=<%=page+1%>&sorted=<%=sorted%>">SHOW MORE</a>
                <% } %>
            </div>
        </div>
    </body>
</html>


